<template>
  <!-- <div>
    <vs-card type="5">
      <template #title>
        <h3>Pot with a plant</h3>
      </template>
      <template #img>
        <img
          src="https://images.ctfassets.net/hrltx12pl8hq/6gefxWFu1cp4cECQE6qpRS/15f4228cb3a2265c990dbaf1304ecea2/shutterstock_1469674187.jpg?fit=fill&w=800&h=400"
          alt=""
        />
      </template>
      <template #text>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
      </template>
      <template #interactions>
        <vs-button danger icon>
          <i class="bx bx-heart"></i>
        </vs-button>
        <vs-button class="btn-chat" shadow primary>
          <i class="bx bx-chat"></i>
          <span class="span">
            54
          </span>
        </vs-button>
      </template> </vs-card
    ><vs-card type="5">
      <template #title>
        <h3>Pot with a plant</h3>
      </template>
      <template #img>
        <img
          src="https://images.ctfassets.net/hrltx12pl8hq/6gefxWFu1cp4cECQE6qpRS/15f4228cb3a2265c990dbaf1304ecea2/shutterstock_1469674187.jpg?fit=fill&w=800&h=400"
          alt=""
        />
      </template>
      <template #text>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
      </template>
      <template #interactions>
        <vs-button danger icon>
          <i class="bx bx-heart"></i>
        </vs-button>
        <vs-button class="btn-chat" shadow primary>
          <i class="bx bx-chat"></i>
          <span class="span">
            54
          </span>
        </vs-button>
      </template> </vs-card
    ><vs-card type="5">
      <template #title>
        <h3>Pot with a plant</h3>
      </template>
      <template #img>
        <img
          src="https://images.ctfassets.net/hrltx12pl8hq/6gefxWFu1cp4cECQE6qpRS/15f4228cb3a2265c990dbaf1304ecea2/shutterstock_1469674187.jpg?fit=fill&w=800&h=400"
          alt=""
        />
      </template>
      <template #text>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
      </template>
      <template #interactions>
        <vs-button danger icon>
          <i class="bx bx-heart"></i>
        </vs-button>
        <vs-button class="btn-chat" shadow primary>
          <i class="bx bx-chat"></i>
          <span class="span">
            54
          </span>
        </vs-button>
      </template>
    </vs-card>
  </div> -->
  <header>
    <div class="center examplex">
      <vs-navbar
        color="#131c26"
        text-white
        square
        center-collapsed
        v-model="active"
      >
        <template #left>
          <img src="../../assets/logo.png" alt="fails" />
        </template>
        <vs-navbar-item :active="active == 'guide'" id="guide">
          Guide
        </vs-navbar-item>
        <vs-navbar-item :active="active == 'docs'" id="docs">
          Documents
        </vs-navbar-item>
        <vs-navbar-item :active="active == 'components'" id="components">
          Components
        </vs-navbar-item>
        <template #right>
          <vs-input
            primary
            type="search"
            icon-after
            v-model="value2"
            placeholder="Search"
          >
            <template #icon>
              <i class="bx bx-lock-open-alt"></i>
            </template>
          </vs-input>

          <vs-button color="#4d7699" border>Get Started</vs-button>
        </template>
      </vs-navbar>
    </div>
  </header>
</template>

<script>
export default {
  name: "Header",
  data: () => ({
    active: "guide"
  })
};
</script>

<style scoped>
.vs-navbar-content {
  background: transparent;
  width: 80%;
  margin-left: 10%;
  padding: 10px;
}

img {
  height: 60px;
}
</style>
